pyyaml
tqdm
numpy
easydict==1.9.0
tensorflow
joblib
matplotlib
pandas
albumentations==0.5.2
hydra-core==1.1.0
pytorch-lightning==1.2.9
tabulate
kornia==0.5.0
webdataset
packaging
wldhx.yadisk-direct
shapely
scikit-image
imgaug
pyclipper
lmdb
visualdl
rapidfuzz
opencv-python<=4.6.0.66
opencv-contrib-python<=4.6.0.66
cython
lxml
premailer
openpyxl
attrdict
PyMuPDF<1.21.0
Pillow==9.5.0
pyyaml
scikit-learn
chardet
lama-cleaner